---
import ProfileCard from "@/components/ProfileCard.astro";
import "@/styles/global.css";
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Youngsun Yoo">
	<main class="flex-grow flex flex-row h-3/6 items-center justify-center">
		<ProfileCard/>
	</main>
</Layout>