---
import "@/styles/global.css";
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Youngsun Yoo">
	<main class="">
		<div class= "flex justify-center items-center">
			This is Youngsun Yoo's page
 		</div>

	</main>
</Layout>