---
import { Button } from "@/components/ui/button";
import "@/styles/global.css";
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Youngsun Yoo">
	<main class="">
		<div class= "flex justify-center items-center">
			<Button>Hello World</Button>
		</div>

	</main>
</Layout>