---
import {cn} from '@/lib/utils';

const {class: className, as: Tag="div", title, href, ...props} = Astro.props
---

<Tag class={cn(className, "flex flex-row items-center justify-center gap-x-2",
    href && "hover:bg-opacity-70 transition-all"
)}
href={href}
{...props}
>
    <slot name="icon" />
    <span class="sr-only">{title}</span>
</Tag>