---
import { Button } from "@/components/ui/button"
---

<header class="my-5 flex flex-col flex-wrap items-center justify-between lg:flex-row">
  <div class="container mx-auto flex justify-between items-center py-4">
    <a href="/" class="text-2xl font-light">colin</a>
    <nav >
      <Button variant="ghost" size="sm" asChild>
        <a href="/about">About</a>
      </Button>
      <Button variant="ghost" size="sm" asChild>
        <a href="/work">Work</a>
      </Button>
      <Button variant="ghost" size="sm" asChild>
        <a href="/contact">Contact</a>
      </Button>
    </nav>
  </div>
</header>
