---
import { Button } from "@/components/ui/button"
import { ModeToggle } from "./ModeToggle"
---

<header class="my-5 flex items-center justify-between ">
  <div class=" mx-auto px-2 w-full flex justify-between items-center py-4">
    <a href="/" class="text-2xl font-light">Youngsun Yoo</a>
    <nav class="justify-between">
      <Button variant="ghost" size="sm" asChild>
        <a href="/about">About</a>
      </Button>
      <Button variant="ghost" size="sm" asChild>
        <a href="/work">Work</a>
      </Button>
      <Button variant="ghost" size="sm" asChild>
        <a href="/contact">Contact</a>
      </Button>
      <ModeToggle client:load />
    </nav>
  </div>
</header>
