---
import ExternalLink from "@/components/ExternalLink.astro";
import ImageCard from "@/components/ImageCard.astro";
import profileImg from '/public/imgs/profile_img.jpg';
---

<div id="open-dialog" class="group relative glow-capture">
    <div class="w-full max-w-lg p-10 border-2
    bg-slate-100/50 hover:bg-slate-200/50 border-slate-100 hover:border-slate-200
    dark:bg-zinc-900/20 dark:hover:bg-zinc-800/20 dark:border-white/5 dark:hover:border-white/10
    rounded-2xl shadow-black/80 
    flex md:flex-row-reverse flex-col flex-wrap md:items-start items-center md:justify-between justify-center
    glow glow:ring-1 glow:border-glow glow:ring-glow glow:bg-glow/[.15]
    ">
        <div class="flex-1 md:order-1 order-2 flex-col w-full">
            <div class="justify-between flex">
                <div class="italic opacity-80 flex flex-col">
                    <p class="text-sm mb-1 glow:text-glow/[.15]">Aspiring Software Engineer</p>
                    <p class="text-sm mb-1 glow:text-glow/[.15]">Interest in Compilers</p>
                    <p class="text-sm glow:text-glow/[.15]">McGill Graduate</p>
                </div>
                <ImageCard src={profileImg}
                alt="graduation-photo"
                />
            </div>
            <div class=" pt-6 flex items-end align-baseline space-x-40">
                <div class="">
                    <p class="text-sm mb-1 italic opacity-75">contacts: </p>
                    <div class="flex flex-wrap space-x-2">
                        <!-- Mail -->
                        <ExternalLink title="Mail" as="a" href={`mailto:youngsun123q@gmail.com`}>
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" slot="icon" class="h-5 w-5">
                                <path fill="currentColor" d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"/>
                            </svg>
                        </ExternalLink>
                        <!-- Github -->
                        <ExternalLink title="Github" as="a" href="https://github.com/youngsun4786" target="_blank" rel="noopener noreferrer">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" slot="icon" class="h-5 w-5">
                                <path fill="currentColor" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                            </svg>
                        </ExternalLink>
                        <!-- LinkedIn -->
                        <ExternalLink title="LinkedIn" as="a" href="https://www.linkedin.com/in/youngsunyoo/" target="_blank" rel="noopener noreferrer">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" slot="icon" class="h-5 w-5">
                                <path fill="currentColor" d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
                            </svg>
                        </ExternalLink>
                    </div>            
                </div>
                <h1 class="text-2xl font-medium">Youngsun Yoo</h1>
            </div>
        </div>
        <div class="glow-overlay" style="--glow-color: #777779")></div>
    </div>
        <!-- Tooltip for Experience & Projects -->
    <div class="absolute bottom-[calc(100%+0.5rem)] left-[50%] -translate-x-[50%] group-hover:block w-auto">
        <div class="bottom-full right-0 rounded-xl bg-transparent px-5 py-2 text-md whitespace-nowrap">
            <span class="glow:text-glow/[.15]">Click to see Experience & Projects</span>
            <svg class="absolute left-0 top-full h-2 w-full text-transparent" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0" /></svg>
        </div>
        </div>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const captures = document.querySelectorAll(".glow-capture");

        if (captures.length) {
            captures.forEach(capture => {
                // Clone the child element.
                const clonedChild = capture.cloneNode(true);
                const overlay = capture.querySelector(".glow-overlay");

                // Append cloned child to overlay
                overlay.appendChild(clonedChild);

                capture.addEventListener("mousemove", (event) => {
                    const x = event.pageX - capture.offsetLeft;
                    const y = event.pageY - capture.offsetTop;

                    overlay.style.setProperty("--glow-x", `${x}px`);
                    overlay.style.setProperty("--glow-y", `${y}px`);
                    overlay.style.setProperty("--glow-opacity", "1");
                })

                capture.addEventListener("mouseleave", (event) => {
                    overlay.style.setProperty("--glow-opacity", "0");
                })
            })
        }
    })
</script>