<div class="w-full max-w-lg py-12 px-8 m-auto bg-slate-100 dark:bg-zinc-900 rounded-lg shadow-sm">
    <div class="mb-8">
        <p class="text-sm mb-1">WWW.COLIN.COM</p>
        <p class="text-sm mb-1">(00) 9.12345678</p>
        <p class="text-sm">INSTA: @COLINOFICIAL</p>
    </div>
    <div class="flex justify-end">
        <h1 class="text-4xl font-bold">Nick</h1>
    </div>
</div>