---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto max-w-screen-xl items-center bg-white justify-center dark:bg-background/100 h-screen">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

